.header {
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.25s, box-shadow 0.25s;
}
.header--scroll {
  background-color: rgb(19, 8, 48);
}

.nav {
  --translate-x-menu: 100%;
  --padding-nav: 2.5rem;
  padding-top: var(--padding-nav);
  padding-bottom: var(--padding-nav);
  transition: padding 0.25s;
}
.nav__logo {
  color: var(--primary-text-color);
  font-size: 1.85rem;
  font-weight: 800;
  text-decoration: none;
  color: #fff;
}
.nav--scroll {
  --padding-nav: 0.5rem;
}
.nav--open {
  --translate-x-menu: 0;
}
.nav__icon {
  display: flex;
  background-color: transparent;
  border: 0;
  color: var(--primary-text-color);
  font-size: 1.75rem;
  padding: 0;
  filter: contrast(0.75);
  cursor: pointer;
  transition: filter 0.25s;
  color: #fff;
}
.nav__icon:hover {
  filter: contrast(1);
}
.nav__icon--close {
  position: absolute;
  top: calc(0.5rem + var(--padding-nav));
  right: 1rem;
  transition: top 0.25s;
}

.elements {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.elements--header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .nav {
    --translate-x-menu: 0;
  }
  .nav__icon--menu,
.nav__icon--close {
    display: none;
  }
}
.section {
  padding-top: var(--padding-container);
  padding-bottom: var(--padding-container);
  box-sizing: border-box;
}
.section__mail {
  box-shadow: -3px 0px 40px 0px rgba(89, 89, 89, 0.134);
}

.container {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);
}
.container__title--section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container__section--aboutus {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 30px;
}
.container__about--img img {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.container__cards--aboutus {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.container__cards--testimonios {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 30px;
}

.f-elements {
  display: flex;
}
.f-elements--header {
  justify-content: space-between;
  align-content: center;
}
.f-elements--center {
  justify-content: center;
  align-items: center;
}
.f-elements--responsive {
  flex-direction: column;
}

.g-elements {
  display: grid;
}
.g-elements--album {
  grid-template-columns: 100%;
}
.g-elements--center {
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.g-elements--responsive {
  grid-template-columns: 100%;
}
.g-elements--album--second {
  grid-template-columns: 100%;
}
.g-elements--responsive--hero {
  grid-template-columns: 100%;
}

.section__services--parent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  position: relative;
}

@media (min-width: 768px) {
  .f-elements--responsive {
    flex-direction: row;
  }
  .g-elements--responsive--hero {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
  }
  .section__services--parent {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .container__section--aboutus {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
  }
  .container__cards--testimonios {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu--header {
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c0a1f;
  transform: translateX(var(--translate-x-menu));
  transition: transform 0.25s;
}
.menu__link {
  position: relative;
  color: var(--primary-text-color);
  font-weight: 400;
  text-decoration: none;
  transition: color 0.25s;
  color: #fff;
}
.menu__link:hover {
  color: var(--secondary-text-color);
}
.menu__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  width: 0;
  height: 0.0625rem;
  background-color: var(--secondary-text-color);
  transition: width 0.25s;
}
.menu__link:hover::before {
  width: 100%;
}
.menu__btn {
  display: none;
  text-decoration: none;
  background-color: var(--secondary-theme-color);
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #fff;
  z-index: 1;
  position: relative;
  font-weight: 500;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(20, 20, 20, 0.27);
  transition: all 250ms;
  overflow: hidden;
}
.menu__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #ff5900;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}
.menu__btn:hover {
  color: #e8e8e8;
}
.menu__btn:hover::before {
  width: 100%;
}

@media (min-width: 992px) {
  .menu__btn {
    display: inline-flex;
  }
}
@media (min-width: 768px) {
  .menu--header {
    flex-direction: row;
    background-color: transparent;
    position: static;
    width: auto;
  }
}
:root {
  --card-width: 200px;
  --card-height: 300px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}

.section__slider {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}
.app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(19, 8, 48);
  z-index: 1;
  opacity: 0.8;
}
.app__bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
}
.app__bg__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}
.app__bg__image.previous--image, .app__bg__image.next--image {
  opacity: 0;
}
.app__bg__image.previous--image {
  --image-translate-offset: -25%;
}
.app__bg__image.next--image {
  --image-translate-offset: 25%;
}

.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
}
.cardList__btn {
  --btn-size: 38px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.cardList__btn.btn--left {
  left: 17%;
}
.cardList__btn.btn--right {
  right: 17%;
  bottom: 20px;
}
.cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .cardList .cardList__btn.btn--left {
    left: -5%;
  }
  .cardList .cardList__btn.btn--right {
    right: -5%;
  }
}
.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}
.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
}
.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}
.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}
.card.previous--card, .card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
}
.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
}
.info .text {
  position: relative;
  font-family: "Montserrat";
  font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
  white-space: nowrap;
  color: #fff;
  width: fit-content;
}
.info .name,
.info .location {
  text-transform: uppercase;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.28);
}
.info .location {
  font-weight: 800;
}
.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}
.info .location::before, .info .location::after {
  content: "";
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}
.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}
.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}
.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.28);
}
.info.current--info {
  opacity: 1;
  display: block;
}
.info.previous--info, .info.next--info {
  opacity: 0;
  display: none;
}

.loading__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 200;
}
.loading__wrapper .loader--text {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.loading__wrapper .loader {
  position: relative;
  width: 200px;
  height: 2px;
  background: rgba(255, 77, 0, 0.25);
}
.loading__wrapper .loader span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 0, 0);
  transform: scaleX(0);
  transform-origin: left;
}

@media only screen and (min-width: 800px) {
  :root {
    --card-width: 250px;
    --card-height: 400px;
  }
}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}

.slider__btn {
  margin: 0;
  width: 40px;
  height: 40px;
  background: rgb(255, 36, 73);
  background: linear-gradient(0deg, rgb(255, 36, 73) 15%, rgb(255, 91, 46) 70%);
  bottom: 0;
  font-size: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  color: var(--secondary-theme-color);
  cursor: pointer;
}

/* this card is inspired form this - https://georgefrancis.dev/ */
.card__services {
  --border-radius: 0.75rem;
  --primary-color: #ff955d;
  --secondary-color: #130830;
  padding: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.107);
  position: relative;
  margin: 0 auto;
  border: 1px solid rgba(110, 107, 128, 0.2274509804);
}
.card__services > * + * {
  margin-top: 1.1em;
}

.card__content {
  color: var(--secondary-color);
  font-size: 0.86rem;
}

.card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.card__title span {
  margin-right: 1rem;
  color: #ff955d;
  font-size: 1.5rem;
}

.card__title .text__active {
  color: #ffffff;
}

.card__date {
  color: #6e6b80;
  font-size: 0.8rem;
}

.card__arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card svg {
  transition: 0.25s;
}

/* hover */
.card__services:hover .card__title {
  color: var(--primary-color);
  text-decoration: underline;
}

.card__services:hover .card__arrow {
  background: rgb(11, 5, 5);
}

.card__services:hover .card__arrow svg {
  transform: translateX(3px);
}

.card--testimonios {
  max-width: 30rem;
  height: 274px;
  background: white;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid rgba(110, 107, 128, 0.2352941176);
  box-shadow: -3px 0px 40px 0px rgba(89, 89, 89, 0.13);
}

.card-image--testimonios {
  background-color: rgb(236, 236, 236);
  background-image: url("https://elcomercio.pe/resizer/g1XiOQReeuWPOSuy-PXG_CJ1B4I=/1200x800/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/G3V23OZOLVE6ZGO6QQ7DUSBSXU.jpg");
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 60%;
  border-radius: 6px 6px 0 0;
}

.card-image--testimonios:hover {
  transform: scale(0.98);
}

.category--testimonios {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category--testimonios:hover {
  cursor: pointer;
}

.heading--testimonios {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.heading--testimonios:hover {
  cursor: pointer;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list--header {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  height: calc(100% - 4rem);
  background-color: var(--secondary-theme-color);
  transform: translateX(var(--translate-list-header));
  transition: transform 0.25s;
}
.list__link {
  position: relative;
  color: var(--primary-text-color);
  font-weight: 400;
  text-decoration: none;
  transition: color 0.25s;
}
.list__link:hover {
  color: var(--secondary-text-color);
}
.list__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  width: 0;
  height: 0.0625rem;
  background-color: var(--secondary-text-color);
  transition: width 0.25s;
}
.list__link:hover::before {
  width: 100%;
}

@media (min-width: 768px) {
  .list--header {
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
  }
}
.section {
  padding: 5rem 0 5rem;
}
.section__title {
  font-size: 2rem;
  font-weight: 800;
  margin: 0 0 1rem 0;
}
.section--container__separator {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.section--separator--title {
  width: 10rem;
  height: 0.5rem;
  background-color: var(--secondary-theme-color);
  margin: 0;
  border: none;
}
.section__subtitle {
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0;
}

.text-dark {
  color: #fff;
}

.bg-dark {
  background-color: #130830;
  color: #ffffff;
}

.bg_active {
  background-color: #ff955d;
  color: #fff;
}

.bg_active:hover {
  background-color: #130830;
}

.w-100 {
  max-width: 30rem;
}

.pd-sm {
  padding: 0 1rem 0 0;
}

/*# sourceMappingURL=fe.css.map */
